
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    overflow-x: hidden;
}

.background {
    margin-top: 51px;

    background-image: url("background.jpg");
    background-size: 100%;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100vw;
    height: calc(100vh - 140px);

    margin-bottom: 70px;
    
}


footer {
    background-color: #211A21;
    width: 100vw;
    color: white;
    margin: 0;
    padding: 10px;

    ul li {
        list-style: none;
    }
}

/* ---------------- */

h2 {
    margin-left: 5vw;
    font-size: 32px;
    color: #04A39B;
    font-weight: 900;
}

.propos {
    padding-bottom: 40px;

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        color: #1B443C;

        

        p {
            width: 70vw;
            text-align: justify;
            line-height: 30px;
        }
    }

}

.icons {
    background-color: #e9f6f4;
    padding: 15px 0;

    .list {
        display: flex;
        align-items: center;
        width: 100vw;
        color: #1B443C;
        justify-content: space-evenly;
    
        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        img {
            width: 7vw;
        }
    }
}

.contact {
    padding: 50px 100px;

    &-container {

        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: solid 3px #04A39B;
        border-radius: 15px;

        h3 {
            width: 100%;
            color: #04A39B;
            font-size: 30px;
            margin: 10px 0;
        }

        p {
            text-align: justify;
            width: 100%;
            margin: 20px 0;
        }

        a {
            margin-top: 15px;
            padding: 12px;
            

            text-decoration: none;
            border-radius: 50px;

            font-size: 18px;
            font-weight: 900;

            background-color: #04A39B;
            color:white;

            &:hover {
                background-color: #2bcfc7;
            }
        }

    }
}


/* --------------- */
