@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.background {
  margin-top: 55px;
  background-image: url("background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 100px);
  margin-bottom: 70px;
}

footer {
  background-color: #211A21;
  width: 100vw;
  color: white;
  margin: 0;
  padding: 10px;
}

footer ul li {
  list-style: none;
}

/* ---------------- */
h2 {
  margin-left: 5vw;
  font-size: 32px;
  color: #04A39B;
  font-weight: 900;
}

.propos {
  padding-bottom: 40px;
}

.propos .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  color: #1B443C;
}

.propos .text p {
  width: 70vw;
  text-align: justify;
  line-height: 30px;
}

.icons {
  background-color: #e9f6f4;
  padding: 15px 0;
}

.icons .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  color: #1B443C;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icons .list li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons .list img {
  width: 7vw;
}

.contact {
  padding: 50px 100px;
}

.contact-container {
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 3px #04A39B;
  border-radius: 15px;
}

.contact-container h3 {
  width: 100%;
  color: #04A39B;
  font-size: 30px;
  margin: 10px 0;
}

.contact-container p {
  text-align: justify;
  width: 100%;
  margin: 20px 0;
}

.contact-container a {
  margin-top: 15px;
  padding: 12px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 900;
  background-color: #04A39B;
  color: white;
}

.contact-container a:hover {
  background-color: #04a39ba2;
}

/* --------------- */
/*# sourceMappingURL=index.css.map */