/* -------- */
.path {
  margin-top: 55px;
  width: 100vw;
  height: 30px;
  background-color: #04A39B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.path ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.path ul li {
  color: white;
  font-weight: 900;
  list-style: none;
  margin-right: 10px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.path ul li img {
  height: 20px;
}

.body {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  min-height: 100vh;
}

.body-link {
  position: fixed;
  width: 400px;
  min-width: 400px;
  margin: 0 30px;
  background-color: #04a39b05;
  border: solid 2px #1B443C;
}

.body-link menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
}

.body-link menuitem {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-link menuitem a {
  text-decoration: none;
  color: #1B443C;
  padding: 5px 5px;
  font-weight: 900;
}

.body-link .m1 {
  font-size: 18px;
}

.body-link .m1 > a {
  background: #1B443C;
  color: white;
}

.body-link .m2 {
  border-top: solid 2px #1B443C;
  font-size: 16px;
}

.body-link .m3 {
  border-top: solid 2px #1B443C;
  font-size: 15px;
}

.body-link .m3 > a {
  padding-left: 15px;
}

.body-link .m4 {
  font-size: 13px;
}

.body-link .m4 > a {
  padding-left: 30px;
}

.body-link .select {
  color: #04A39B;
}

.body-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px;
  text-align: justify;
  padding-left: 480px;
}

.body-text > h3 {
  font-size: 25px;
  color: #04A39B;
}

.body-section {
  border: solid 2px #04A39B;
  border-radius: 5px;
  margin: 20px 0;
}

.body-section-title {
  background-color: #04A39B;
  color: white;
  cursor: pointer;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-section-title h3 {
  margin: 0;
  padding: 5px;
}

.body-section-title img {
  fill: white;
  height: 20px;
  margin-right: 5px;
}

.body-section-text {
  display: none;
  padding: 10px;
}

.body .show .body-section-title img {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.body .show .body-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=prestation.css.map */